# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/

# Logs
logs/
*.log

# Telethon session
session/

# Node.js
node_modules/
.npm/

# macOS
.DS_Store
